
<% if object.errors.any? %>
  
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@leave.errors.count, "error") %>.
    </div>
    <ul>
    <% @leave.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>

<% end %>